# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/
.dart_tool/
.idea/
.metadata

# VS Code
.vscode/
*.code-workspace

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# MacOS
.DS_Store

# Linux
*.swp

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.jks
*.keystore

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Web
web/generated_plugin_registrant.dart

# Other files
*.log
*.tmp
*.lock
